/*
=============== 
Fonts
===============
*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

body {
    color: black;
    font-family: 'Montserrat', sans-serif;
    margin: auto;
    background-image: repeating-linear-gradient(90deg, #b1dafd6e 0px, #b1dafd6e 5px, #b1dafd6e 5px, rgba(120, 168, 168, 0.432) 5px, rgba(120, 168, 168, 0.432) 10px);
}

nav{
    background-color: black;
    padding: 5px;
    text-align: center;
}
li{
    display: inline;
    margin: 10px;
    padding: 10px;
    font-size: 25px;
}
li:hover{
    background-color: white;
    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;  
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0.3;
    }
    100% {
        opacity: 1;
     }
}

a{
    color: white;
    text-decoration: none;
}

a:hover{
    color: black;
}

.container{
    text-align: center;
}

h1{
    font-size: 120px;
}

h2{
    font-size: 100px;
    display: inline-flex;
}

h3{
    font-size: 80px;
}

h4{
    font-size: 50px;
    margin: 20px 0;
    
}

h5{
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 0;
}

h6{
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 0;
}
button{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    margin: 20px 10px 10px 10px;
    padding: 15px;
    background-color: aliceblue;
}

#decrease {
    border-radius: 0px 10px 0px 10px;
}

#reset {
    border-radius: 10px 10px 10px 10px;
}

#increase {
    border-radius: 10px 0px 10px 0px;
}

.container{
    display: flex;
    align-items: center;
    height: 700px;
}
.counter{
    font-size: 80px;
    font-weight: bolder;
}

.review{
    margin: auto;
}

.line{
    color: rgb(0, 0, 0);
}

.box{
    background-color:aliceblue;
    margin: 5px auto;
    width: 520px;
    padding: 30px;
    border:thin;
    border-color:black;
    border-radius: 10px;
}

.picture{
    width: 120px;
    height: 120px;
    border: black double;
    border-radius: 50%;
}


.name{
    margin-top: 5px;
}
.role{
    margin-top: 0;
    font-weight: bolder;
    color: rgb(29, 158, 158);
}
.text{
    font-weight: bold;
}

.arrow{
    color: rgb(21, 142, 241);
    font-weight: bolder;
    font-size: 30px;
}

.btn{
    border-radius: 20px;
    background-color: rgb(150, 224, 200);
}

